[submodule "extern/skia"]
	path = extern/skia
	url = https://github.com/google/skia.git
[submodule "extern/depot_tools"]
	path = extern/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "extern/angle"]
	path = extern/angle
	url = https://github.com/google/angle.git
